@charset "UTF-8";

#popup-wrap {z-index: 1;position: relative;width: 100%;height: 100%;background: url(../img/blog-img232.jpg) 50% 50% no-repeat;background-size: contain;}
#popup-wrap::after {z-index: 2;content: "";display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, .5);}
#popup-wrap span {z-index: 3;position: absolute;bottom: 20px;right: 20px;}
#popup-wrap span label {color: #fff;padding: 0 5px;}
#popup-wrap span button {cursor: pointer;font-size: 11px;}

#wrap {position: relative;width: 100%;height: 100%;background: url(../img/home-interior-design-portfolio-img02.jpg) 50% 50% no-repeat;background-size: contain;}
#modal_layer {z-index: 2;position: absolute;top: -100px;left: 0;width: 100%;height: 100px;background: rgba(0, 0, 0, .7);}
#modal_layer span {position: absolute;bottom: 20px;right: 20px;}
#modal_layer span label {color: #fff;padding: 0 5px;}
#modal_layer span button {cursor: pointer;font-size: 11px;}