@charset "UTF-8";

* {margin: 0;padding: 0;vertical-align: middle;}
html,body {width: 100%;height: 100%;}
html {overflow-y: scroll;}
html.addPopup {overflow-y: hidden;}
body {font: normal 14px/1 "arial";color: #444;background: #eee;}
ul,li {list-style: none;}
h1,h2,h3,h4,h5,h6 {font-size: 14px;font-weight: normal;}
em,i,address {font-style: normal;}
a {color: #444;text-decoration: none;}

.fixedclear::after {content: "";display: block;clear: both;}
.hide {display: none;}